extends layout

block content
	.container
		form#config_form
			.form-group
				label(for='input_route') Route #
				input(type='text' placeholder='XX').form-control#input_route
				small 2 or 3 digit route number
			.form-group
				label(for='input_stop') Stop #
				input(type='text' placeholder='XXXXX').form-control#input_stop
				small 5 digit stop number
			.form-group.hidden
				label(for='input_start') Start time
				input(type='datetime-local').form-control#input_start
				small When should we start monitoring?
			//- Uncomment when recurring is implemented
			//- .form-group
			//- 	label(for='input_recurring') Recurring
			//- 		input(type='checkbox').form-control#input_recurring

			button(type='submit') Submit

		.alert.alert-success.hidden-alert#success(role='alert')
			| <strong>Success!</strong> We will keep an eye on that for you ;)
		.alert.alert-danger.hidden-alert#failure(role='alert')
			| <strong>Whoops!</strong> Something went wrong :( Please try again.
		.alert.alert-warning.hidden-alert#warning(role='alert')
			| <strong>Whoops!</strong> Looks like required fields were left blank.
block scripts
block scripts
	script(src='/js/config.js')
